In [4]:
import pandas as pd
data=pd.read_csv("data.csv")
print(data)

              person    project            time_start              time_end  \
0      Frodo Baggins  Project b  2010-01-01T10:00:00Z  2010-01-01T12:50:00Z
1      Frodo Baggins  Project b  2010-01-01T17:18:44Z  2010-01-01T18:03:44Z
2      Frodo Baggins  Project b  2010-01-01T20:42:03Z  2010-01-01T23:37:03Z
3      Frodo Baggins  Project b  2010-01-03T11:16:49Z  2010-01-03T15:36:49Z
4      Frodo Baggins  Project b  2010-01-10T08:13:10Z  2010-01-10T10:59:10Z
...              ...        ...                   ...                   ...
4495  Samwise Gamgee  Project h  2015-12-24T08:04:06Z  2015-12-24T11:34:06Z
4496  Samwise Gamgee  Project h  2015-12-25T05:31:36Z  2015-12-25T08:31:36Z
4497  Samwise Gamgee  Project f  2015-12-26T02:34:49Z  2015-12-26T07:34:49Z
4498  Samwise Gamgee  Project f  2015-12-27T04:05:16Z  2015-12-27T05:50:16Z
4499  Samwise Gamgee  Project c  2015-12-27T12:11:07Z  2015-12-27T14:11:07Z

      duration
0            3
1            1
2            3
3            5
4            3
...        ...
4495         4
4496         3
4497         5
4498         2
4499         2

[4500 rows x 5 columns]

In [5]:
data.head(3)

,person,project,time_start,time_end,duration
0,Frodo Baggins,Project b,2010-01-01T10:00:00Z,2010-01-01T12:50:00Z,3
1,Frodo Baggins,Project b,2010-01-01T17:18:44Z,2010-01-01T18:03:44Z,1
2,Frodo Baggins,Project b,2010-01-01T20:42:03Z,2010-01-01T23:37:03Z,3

print(data.index)
print(data.columns)

In [ ]:
import pandas as pd
data=pd.read_csv("data.csv")
# print(data)
# print(data.index)
# print(data.columns)
def process_projects(input_file, output_file):
    df=pd.read_csv(input_file)
    result=df.groupby(['person', 'project'])['duration'].sum().reset_index()
    result.to_csv(output_file, index=False)

In [ ]:

import sys
input_file = "data.csv"
output_file ="output.csv" 
df=process_projects(input_file, output_file)
print(df)